<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="%HOME%\site\wwwroot\env\Scripts\python.exe|%HOME%\site\wwwroot\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^(static|media)/(.*)" ignoreCase="true" />
          <action type="Rewrite" url="{R:1}/{R:2}" />
        </rule>
        <rule name="Configure Python" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <action type="Rewrite" url="handler.fcgi/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed"></httpErrors>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="%HOME%\site\wwwroot" />
    <add key="WSGI_HANDLER" value="core.wsgi.application" />
    <add key="WSGI_LOG" value="%HOME%\LogFiles\wfastcgi.log" />
    <add key="DJANGO_ENV" value="prod" />
    <add key="DJANGO_SETTINGS_MODULE" value="core.settings.prod" />
  </appSettings>
</configuration>